<div class="login-wrapper">

  <div class="login-left">
    <h1>Welcome to Your App</h1>
    <p>Access your projects and insights</p>
  </div>

  <div class="login-right">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h2>Sign in to Your Account</h2>

      <mat-form-field appearance="outline" class="full-width">
       <mat-label style="color: blue;  font-size: medium;">Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.invalid">
          Valid email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label style="color: blue; font-size: medium;">Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button mat-raised-button color="primary" class="full-width login-btn" type="submit" [disabled]="loginForm.invalid">
        Log in
      </button>

      <div class="links">
        <a href="#">Forgot Password?</a>
        <a href="#">Create an account</a>
      </div>

    </form>
  </div>

</div>
