.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.spacer {
  flex: 1;
}

.user-name {
  margin-right: 10px;
  font-size: 16px;
}
