<mat-nav-list class="menu" [ngClass]="{'collapsed': !isSidenavOpen}">
  <ng-container *ngFor="let item of menuItems">

    <!-- Parent Menu without children -->
    <a mat-list-item *ngIf="!item.children"
       routerLink="{{item.route}}"
       routerLinkActive="active"
       [title]="!isSidenavOpen ? item.label : ''">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="isSidenavOpen">{{ item.label }}</span>
    </a>

    <!-- Parent Menu with Children -->
    <div *ngIf="item.children">
      <a mat-list-item (click)="toggleMenu(item)" [class.active]="item.expanded">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="isSidenavOpen">{{ item.label }}</span>
        <mat-icon class="arrow" *ngIf="isSidenavOpen">{{ item.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>

      <div class="child-menu" *ngIf="item.expanded && isSidenavOpen">
        <a mat-list-item *ngFor="let child of item.children"
           routerLink="{{child.route}}"
           routerLinkActive="active">
          <mat-icon>{{ child.icon }}</mat-icon>
          <span>{{ child.label }}</span>
        </a>
      </div>
    </div>

  </ng-container>
</mat-nav-list>
