<mat-nav-list class="menu">

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/users" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span>Users</span>
  </a>

  <a mat-list-item routerLink="/products" routerLinkActive="active">
    <mat-icon>inventory</mat-icon>
    <span>Products</span>
  </a>

  <a mat-list-item routerLink="/reports" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon>
    <span>Reports</span>
  </a>

</mat-nav-list>
